.bottom > * {
  vertical-align: bottom;
}

/* para uso en el chart.*/
#tooltip {
  font-size: 12px;
  color: rgb(15%, 15%, 15%);
  padding:2px;
  background-color: rgba(95%, 95%, 95%, 0.8);
}

/* texto vertical en el chart y alineamiento. */
.vertical-text {
  transform: rotate(90deg);
}

/* para usar toda la página. */
.container-full {
  margin: 0 auto;
  width: 100%;
}
    
/* para la ayuda */    
.tooltipHelp {
  position: relative;
  background: #eaeaea;
  cursor: help;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
}

.tooltipHelp span {
  visibility: hidden;
  position: absolute; 
  bottom: 30px;
  left: 50%;
  z-index: 999;
  width: 300px;
  margin-left: -140px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: 1;
  background-color: #ddd;
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.tooltipHelp:hover {
  border: 0; /* IE6 fix */
}

.tooltipHelp:hover span {
  visibility: visible;
}

.tooltipHelp span:before,
.tooltipHelp span:after {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;  
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-bottom: 0;  
}

.tooltipHelp span:before {
  border-top-color: #ccc;
  bottom: -8px;
}
